<style type="text/css" data-type="vc_shortcodes-custom-css">
  .vc_custom_1474306346779{
    padding-top: 120px !important;
    padding-bottom: 30px !important;
  }
  .vc_custom_1476803630256{
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }
  .vc_custom_1476803855931{
    padding-bottom: 3% !important;
  }
  .vc_custom_1476803899585{
    padding-bottom: 3% !important;
  }
  .vc_custom_1474306215627{
    padding-bottom: 7% !important;
  }
  .vc_custom_1474302700327{
    padding-top: 10vh !important;
    padding-bottom: 10vh !important;
    background-color: #fafafa !important;
  }
  .vc_custom_1474302673572{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
  .vc_custom_1474302542922{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
</style>
<noscript>
  <style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>
</noscript>

<div class="page page-id-190 page-template-default snap_rows_ thb_row_pagination_off dark-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header-off footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <%= render "layouts/shared/logo_header_menu" %>

  <div role="main" class="cf">
    <div class=" post-190 page type-page status-publish hentry">
      <div class="row wpb_row row-fluid align-center vc_custom_1474306346779">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-fadetype-36" class="thb-fadetype">
                <h1 style="text-align: center;" class="title-header">
                  <div class="thb-fadetype-entry">We create artworks, concepts, interiors, brand design, website & mobile application</div>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-image-slider-80" class="thb-image-slider slick thb-image-slider-style1    dark-arrow " data-pagination="true" data-navigation="" data-center="0" data-columns="1" data-infinite="false">
                <figure>
                  <img src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/slider_01.jpg" alt="slider_01" />
                </figure>
                <figure>
                  <img src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/slider_02.jpg" alt="slider_02" />
                </figure>
                <figure>
                  <img src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/slider_03.jpg" alt="slider_03" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803630256">
        <div class="wpb_column columns small-12 large-10 medium-11 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Expertise</h4>
                  <div class="row">
                    <div class="columns small-12 large-6 medium-6">
                      <h4 style="text-align: justify">
                        <strong>
                          Our modus operandi utilises a tried & tested procedure for each & every project,
                          regardless of the industry sector for which we are designing.
                        </strong>
                      </h4>
                    </div>
                    <div class="columns small-12 large-6 medium-6">
                      <p style="font-size: 16px; text-align: left">
                        We refer to this as EnjoyBranding’s ‘mythodology’ which thrives on collaboration between us & our clients.
                        This influences, shapes & determines the correct final project outcome, ensuring dynamic results.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row wpb_row vc_inner row-fluid">
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>1. Research</strong></span></p>
                          <p style="font-size: 14px; text-align: justify">
                            We ask the right questions & listen intently to the answers.
                            Research is vital to ensure we fully understand your audience,
                            your business & your industry. We take the necessary steps to clarify your vision,
                            strategies, values & goals. We then distill these insights & present the findings.
                          </p>
                          <ul style="font-size: 14px; font-weight: bold">
                            <li>Brand Workshops</li>
                            <li>Focus Groups</li>
                            <li>Interviews</li>
                            <li>Brand Questionnaires</li>
                            <li>Surveys</li>
                            <li>Competitor Analysis</li>
                            <li>Brand Audits</li>
                            <li>Industry Analysis & Trends</li>
                            <li>Category Reviews</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>2. Strategy</strong></span></p>
                          <p style="font-size: 14px; text-align: justify">
                            We articulate a newfound brand strategy based on factual insights & shrewd intuitive understanding,
                            comprising brand messaging, tone-of-voice, as well as pertinent visual stimuli to indicate the
                            proposed brand essence.
                          </p>
                          <ul style="font-size: 14px; font-weight: bold">
                            <li>Brand Positioning</li>
                            <li>Brand Architecture</li>
                            <li>Brand Messaging</li>
                            <li>Brand Essence</li>
                            <li>Brand Values</li>
                            <li>Digital / Online Strategy</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>3. Conceptual Design</strong></span></p>
                          <p style="font-size: 14px; text-align: justify">
                            We think conceptually about effective ways to communicate your business.
                            We only present ideas that are sure to resonate effectively with your audience.
                            We apply our concepts to mock ups of key project deliverables, enabling you to view our work in context.
                            Together we determine a preferred visual direction before we further develop & refine the chosen concept.
                          </p>
                          <ul style="font-size: 14px; font-weight: bold">
                            <li>Naming</li>
                            <li>Messaging & Copy Writing</li>
                            <li>Corporate Identities</li>
                            <li>Logo Design</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>4. Application</strong></span></p>
                          <p style="font-size: 14px; text-align: justify">
                            Once approved, we set about applying the design to the agreed project deliverables.
                            We are adept at crafting consistent & cohesive brand communications,
                            both on & offline, from print & packaging, marketing & advertising to websites & other digital applications.
                          </p>
                          <ul style="font-size: 14px; font-weight: bold">
                            <li>Corporate Stationery</li>
                            <li>Corporate Communications</li>
                            <li>Packaging</li>
                            <li>Editorial</li>
                            <li>Marketing Campaigns</li>
                            <li>Advertising</li>
                            <li>Event Materials</li>
                            <li>Website Design & Development</li>
                            <li>Mobile Apps Design & Development</li>
                            <li>Online Banners</li>
                            <li>Video</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>5. Support</strong></span></p>
                          <p style="font-size: 14px; text-align: justify">
                            The Bhent team welcome the opportunity to support your ongoing business marketing needs.
                            We act as an extension of your team, providing valuable strategic support, campaign management,
                            implementation & maintenance. This personalised approach enables our clients to benefit from
                            working alongside a dedicated team who understand your business and its unique requirements.
                          </p>
                          <ul style="font-size: 14px; font-weight: bold">
                            <li>Website&Apps Maintenance</li>
                            <li>Analytics & Reporting</li>
                            <li>Print Management</li>
                            <li>Retainer Agreement</li>
                            <li>Campaign Management</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Our Team</h4>
                  <p>
                    Our blend of strategy & creativity results in dynamic outcomes that assist in supporting
                    the future growth of our clients’ businesses. Everything we achieve is repeatedly delivered
                    efficiently through commitment, sincerity & unconditional professionalism.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803855931">
        <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-team-60" class="thb-team-row">
                <div class="row style1" data-columns="medium-4 large-3" data-center="true" data-navigation="true">
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <%= image_tag('Joe_Bhent-CCMO.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>
                    <div class="team-information">
                      <h6>L.J Benoit BEKONO (Joe Bhent)</h6>
                      <p class="job-title">Creative/Managing Director</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <%= image_tag('Klodya_EYIDI-AM.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>
                    <div class="team-information">
                      <h6>Klodya M.W EYIDI</h6>
                      <p class="job-title">Account Manager</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <%= image_tag('Etinge_Edward-DevBE.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>
                    <div class="team-information">
                      <h6>Edward ETINGE M.</h6>
                      <p class="job-title">Developer</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <img width="646" height="680" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05.jpg" class="attachment-full" alt="t_05" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05.jpg 646w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05-600x632.jpg 600w" sizes="(max-width: 646px) 100vw, 646px" />
                    <div class="team-information">
                      <h6>Kimmy Gulotta</h6>
                      <p class="job-title">Senior Designer</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <img width="646" height="680" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06.jpg" class="attachment-full" alt="t_06" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06.jpg 646w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06-600x632.jpg 600w" sizes="(max-width: 646px) 100vw, 646px" />
                    <div class="team-information">
                      <h6>Jason Hu</h6>
                      <p class="job-title">Senior Developer</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <!--<div class="thb-team-member thb-add-new small-12 medium-4 large-3 columns">-->
                    <!--<a href="index.html" target="" role="button" title="Submit Your Resume!">-->
                      <!--<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64">-->
                        <!--<g fill="none" stroke="#000" stroke-width="2" stroke-miterlimit="10">-->
                          <!--<path d="m32 50v-36"/>-->
                          <!--<path d="m14 32h36"/>-->
                        <!--</g>-->
                      <!--</svg>-->
                    <!--</a>-->
                  <!--</div>-->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Offices</h4>
                  <p>
                    The dynamic Fable collective brings together far more than just great talent.<br/>
                    Agency culture is of paramount importance. Therefore at Fable&Co. you will benefit
                    from our team of creatively accomplished, logically gifted, genuine folk, who are all
                    obsessive in their quest for design perfection.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803899585">
        <div class="text-center wpb_column columns small-12 medium-12 large-9 medium- thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <img width="562" height="340" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/office_02.jpg" class="thb_image animation fade-in left full  attachment-full" alt="office_02" />
              <div class="vc_empty_space"  style="height: 40px" >
                <span class="vc_empty_space_inner"></span>
              </div>
              <div class="wpb_text_column wpb_content_element vc_custom_1474302542922 text-center">
                <div class="wpb_wrapper">
                  <h2>Yaoundé</h2>
                  <p>
                    N2 Street - Odza (Mbog-Abang), P.O. Box. 1452, Yaoundé<br />
                    <strong>M.</strong> <a href="callto:695-953-666">695-953-666</a> / <a href="callto:652-199-227">652-199-227</a><br />
                    <strong>E.</strong> <a href="mailto:hello@bhent.xyz">hello@bhent.xyz</a>
                  </p>
                </div>
              </div>
              <a class="btn animation bottom-to-top" href="https://goo.gl/maps/fj6rdQduqpL2" target=" _blank" role="button" title="Get Directions">
                <span>Get Directions</span>
              </a>
              <div class="vc_empty_space"  style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Clients</h4>
                  <p>
                    We take great pride in everything that we achieve on behalf of our clients & we are
                    tremendously proud of our rapidly expanding portfolio of work.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1474306215627">
          <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div id="thb-client-logos-80" class="thb-client-row thb-opacity">
                  <div class="row no-padding style1" data-columns="small-6 large-3" data-center="true" data-navigation="true">
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank">
                        <img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01.png" class="attachment-full" alt="01" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" />
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row wpb_row row-fluid align-center full-width-row vc_custom_1474302700327 row-has-fill">
          <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element animation bottom-to-top ">
                    <div class="wpb_wrapper">
                      <h6 style="text-align: center;">Testimonials</h6>
                    </div>
                  </div>
                  <div id="thb-testimonials-22" class="thb-testimonials slick style1" data-columns="1" data-pagination="true" data-fade="true">
                    <div class="thb-testimonial">
                      <blockquote>
                        <p>“The Tharks were having their hands full in the center of the room, and I began to realize that nothing short of a miracle could save Dejah.”</p>
                      </blockquote>
                      <img class="author_image " src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/testimionial_p1_128.jpg" width="128" height="128" alt="testimionial_p1_128" title="testimionial_p1_128" />
                      <div>
                        <cite>Isaac Tobin</cite>
                        <span class="title">Creative Director at Fantasy Interactive</span>
                      </div>
                    </div>
                    <div class="thb-testimonial">
                      <blockquote>
                        <p>“Or kind rest bred with am shed then. In raptures building an bringing be. Elderly is detract tedious assured private so to visited. Do travelling companions contrasted it.”</p>
                      </blockquote>
                      <img class="author_image " src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/testimonial_p2_128.jpg" width="128" height="128" alt="testimonial_p2_128" title="testimonial_p2_128" />
                      <div>
                        <cite>Jason Bourne</cite>
                        <span class="title">Creative Director at Fantasy Interactive</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>