<style type="text/css" data-type="vc_shortcodes-custom-css">
  .vc_custom_1474306346779{
    padding-top: 120px !important;
    padding-bottom: 30px !important;
  }
  .vc_custom_1476803630256{
    padding-top: 4% !important;
    padding-bottom: 2% !important;
  }
  .vc_custom_1476803855931{
    padding-bottom: 3% !important;
  }
  .vc_custom_1476803899585{
    padding-bottom: 3% !important;
  }
  .vc_custom_1474306215627{
    padding-bottom: 7% !important;
  }
  .vc_custom_1474302700327{
    padding-top: 10vh !important;
    padding-bottom: 10vh !important;
    background-color: #fafafa !important;
  }
  .vc_custom_1474302673572{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
  .vc_custom_1474302542922{
    padding-top: 0px !important;
    padding-right: 10% !important;
    padding-bottom: 0px !important;
    padding-left: 10% !important;
  }
</style>
<noscript>
  <style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style>
</noscript>

<div class="page page-id-190 page-template-default snap_rows_ thb_row_pagination_off dark-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header-off footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <%= render "layouts/shared/logo_header_menu" %>

  <div role="main" class="cf">
    <div class=" post-190 page type-page status-publish hentry">
      <div class="row wpb_row row-fluid align-center vc_custom_1474306346779">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-fadetype-36" class="thb-fadetype">
                <h1 style="text-align: center;">
                  <div class="thb-fadetype-entry">We create artworks, concepts, interiors & brand design</div>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-image-slider-80" class="thb-image-slider slick thb-image-slider-style1    dark-arrow " data-pagination="true" data-navigation="" data-center="0" data-columns="1" data-infinite="false">
                <figure>
                  <img src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/slider_01.jpg" alt="slider_01" />
                </figure>
                <figure>
                  <img src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/slider_02.jpg" alt="slider_02" />
                </figure>
                <figure>
                  <img src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/slider_03.jpg" alt="slider_03" />
                </figure>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803630256">
        <div class="wpb_column columns small-12 large-10 medium-11 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Services</h4>
                  <h4>
                    <strong>It was a big, round room with a high arched roof, and the walls and ceiling and floor were covered with large emeralds set closely together.</strong>
                  </h4>
                  <p>In a word, the whale was seized and sold, and his Grace the Duke of Wellington received the money. Thinking that viewed in some particular lights, the case might by a bare possibility in some small degree be deemed, under the circumstances, a rather hard one, an honest clergyman of the town addressed a note to his Grace.</p>
                </div>
              </div>
              <div class="row wpb_row vc_inner row-fluid">
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>Brand Strategy</strong></span></p>
                          <p style="font-size: 16px;">
                            Brand Analysis<br/>
                            Brand Platform<br/>
                            Brand Communication Idea<br/>
                            Brand Digital Strategy
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>Brand Identity & Image</strong></span></p>
                          <p style="font-size: 16px;">
                            Naming<br/>
                            Logo<br/>
                            Brandbook<br/>
                            Key visuals
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>Brand Digital Expression</strong></span></p>
                          <p style="font-size: 16px;">
                            Websites<br/>
                            Mobile Apps<br/>
                            Social Media<br/>
                            Content
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-3 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div class="wpb_text_column wpb_content_element  ">
                        <div class="wpb_wrapper">
                          <p><span style="color: #ea5b11;"><strong>Brand Physical Expression</strong></span></p>
                          <p style="font-size: 16px;">
                            Packaging<br/>
                            Retail<br/>
                            Publishing<br/>
                            Promotion
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner text-center">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Our Team</h4>
                  <p>It was shaped like a chair and sparkled with gems, as did everything else. In the center of the chair was an enormous Head, without a body to support it or any arms or legs whatever.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803855931">
        <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div id="thb-team-60" class="thb-team-row">
                <div class="row style1" data-columns="medium-4 large-3" data-center="true" data-navigation="true">
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <%= image_tag('13603776_131956343902112_8020487385778159764_o.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>
                    <div class="team-information">
                      <h6>Holden Hoffington</h6>
                      <p class="job-title">Founder</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <%= image_tag('thumb_IMG_0018_1024.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>
                    <div class="team-information">
                      <h6>Ceccilla Pinto</h6>
                      <p class="job-title">Creative Director</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <%= image_tag('13987609_10210297443138478_8205953702572809801_o.jpg', size: "646x680", alt: "t_02", :class=>"attachment-full") %>
                    <div class="team-information">
                      <h6>Can Bonomo</h6>
                      <p class="job-title">Development Director</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <img width="646" height="680" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05.jpg" class="attachment-full" alt="t_05" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05.jpg 646w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_05-600x632.jpg 600w" sizes="(max-width: 646px) 100vw, 646px" />
                    <div class="team-information">
                      <h6>Kimmy Gulotta</h6>
                      <p class="job-title">Senior Designer</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member small-12 medium-4 large-3 columns member_style1">
                    <img width="646" height="680" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06.jpg" class="attachment-full" alt="t_06" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06.jpg 646w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/t_06-600x632.jpg 600w" sizes="(max-width: 646px) 100vw, 646px" />
                    <div class="team-information">
                      <h6>Jason Hu</h6>
                      <p class="job-title">Senior Developer</p>
                      <div class="thb-description">
                        <a href="#">
                          <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#">
                          <i class="fa fa-twitter"></i>
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="thb-team-member thb-add-new small-12 medium-4 large-3 columns">
                    <a href="index.html" target="" role="button" title="Submit Your Resume!">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" enable-background="new 0 0 64 64">
                        <g fill="none" stroke="#000" stroke-width="2" stroke-miterlimit="10">
                          <path d="m32 50v-36"/>
                          <path d="m14 32h36"/>
                        </g>
                      </svg>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Offices</h4>
                  <p>It was shaped like a chair and sparkled with gems, as did everything else. In the center of the chair was an enormous Head, without a body to support it or any arms or legs whatever.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1476803899585">
        <div class="text-center wpb_column columns small-12 medium-12 large-9 medium- thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <img width="562" height="340" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/office_02.jpg" class="thb_image animation fade-in left full  attachment-full" alt="office_02" />
              <div class="vc_empty_space"  style="height: 40px" >
                <span class="vc_empty_space_inner"></span>
              </div>
              <div class="wpb_text_column wpb_content_element vc_custom_1474302542922 text-center">
                <div class="wpb_wrapper">
                  <h2>Yaoundé</h2>
                  <p>
                    N2 Street - Odza (Mbog-Abang), P.O. Box. 1452, Yaoundé<br />
                    <strong>M.</strong> <a href="callto:695-953-666">695-953-666</a> / <a href="callto:652-199-227">652-199-227</a><br />
                    <strong>E.</strong> <a href="mailto:hello@bhent.xyz">hello@bhent.xyz</a>
                  </p>
                </div>
              </div>
              <a class="btn animation bottom-to-top" href="https://goo.gl/maps/fj6rdQduqpL2" target=" _blank" role="button" title="Get Directions">
                <span>Get Directions</span>
              </a>
              <div class="vc_empty_space"  style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center">
        <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h4>Clients</h4>
                  <p>It was shaped like a chair and sparkled with gems, as did everything else. In the center of the chair was an enormous Head, without a body to support it or any arms or legs whatever.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row wpb_row row-fluid align-center vc_custom_1474306215627">
          <div class="wpb_column columns small-12 medium-12 large-10 medium-12 thb-dark-column">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                <div id="thb-client-logos-80" class="thb-client-row thb-opacity">
                  <div class="row no-padding style1" data-columns="small-6 large-3" data-center="true" data-navigation="true">
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01.png" class="attachment-full" alt="01" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/01-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/02.png" class="attachment-full" alt="02" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/02.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/02-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/02-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/03.png" class="attachment-full" alt="03" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/03.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/03-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/03-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/04.png" class="attachment-full" alt="04" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/04.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/04-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/04-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/05.png" class="attachment-full" alt="05" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/05.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/05-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/05-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/06.png" class="attachment-full" alt="06" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/06.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/06-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/06-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/07.png" class="attachment-full" alt="07" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/07.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/07-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/07-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/08.png" class="attachment-full" alt="08" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/08.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/08-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/08-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/09.png" class="attachment-full" alt="09" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/09.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/09-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/09-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/10.png" class="attachment-full" alt="10" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/10.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/10-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/10/10-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/11.png" class="attachment-full" alt="11" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/11.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/11-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/11-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                    <div class="has-link thb-client small-6 large-3 columns" style="border-color: #f0f0f0">
                      <a href="https://themeforest.net/item/werkstatt-creative-portfolio-theme/17870799?ref=fuelthemes" target=" _blank"><img width="900" height="600" src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/12.png" class="attachment-full" alt="12" srcset="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/12.png 900w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/12-768x512.png 768w, http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/12-600x400.png 600w" sizes="(max-width: 900px) 100vw, 900px" /></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
      <div class="row wpb_row row-fluid align-center full-width-row vc_custom_1474302700327 row-has-fill">
          <div class="wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
            <div class="vc_column-inner ">
              <div class="wpb_wrapper">
                  <div class="wpb_text_column wpb_content_element animation bottom-to-top ">
                    <div class="wpb_wrapper">
                      <h6 style="text-align: center;">Testimonials</h6>
                    </div>
                  </div>
                  <div id="thb-testimonials-22" class="thb-testimonials slick style1" data-columns="1" data-pagination="true" data-fade="true">
                    <div class="thb-testimonial">
                      <blockquote>
                        <p>“The Tharks were having their hands full in the center of the room, and I began to realize that nothing short of a miracle could save Dejah.”</p>
                      </blockquote>
                      <img class="author_image " src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/testimionial_p1_128.jpg" width="128" height="128" alt="testimionial_p1_128" title="testimionial_p1_128" />
                      <div>
                        <cite>Isaac Tobin</cite>
                        <span class="title">Creative Director at Fantasy Interactive</span>
                      </div>
                    </div>
                    <div class="thb-testimonial">
                      <blockquote>
                        <p>“Or kind rest bred with am shed then. In raptures building an bringing be. Elderly is detract tedious assured private so to visited. Do travelling companions contrasted it.”</p>
                      </blockquote>
                      <img class="author_image " src="http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/testimonial_p2_128.jpg" width="128" height="128" alt="testimonial_p2_128" title="testimonial_p2_128" />
                      <div>
                        <cite>Jason Bourne</cite>
                        <span class="title">Creative Director at Fantasy Interactive</span>
                      </div>
                    </div>
                  </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>