<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1475072484539{margin-top: 100px !important;padding-top: 10vh !important;padding-bottom: 10vh !important;}.vc_custom_1475000210039{padding-top: 10vh !important;padding-bottom: 10vh !important;}.vc_custom_1475009886874{padding-top: 10vh !important;padding-bottom: 10vh !important;background-color: #f9f9f9 !important;}.vc_custom_1475009891356{padding-top: 16vh !important;padding-bottom: 16vh !important;background: #25282a url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/h13_01.jpg?id=284) !important;background-position: center !important;background-repeat: no-repeat !important;background-size: cover !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>

<%= render "layouts/shared/logo_header_menu" %>

<div role="main" class="cf">
    <div class=" post-282 page type-page status-publish hentry">
      <div class="row wpb_row row-fluid align-center vc_custom_1475072484539">
        <div class="text-center wpb_column columns small-12 medium-12 large-7 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element  ">
                <div class="wpb_wrapper">
                  <h6>Welcome to Bhent</h6>
                </div>
              </div>
              <div id="thb-autotype-85" class="thb-autotype">
                <h1 class="title-header">
                  <strong>
                    We bring new brands to life & breathe new life into existing ones.<br/>
                    We are a branding, design & digital  agency creating
                    <div class="thb-autotype-entry" data-thb-loop="1" data-strings="[&quot;artworks&quot;,&quot;concepts&quot;,&quot;interiors&quot;,&quot;brand design&quot;,&quot;website&quot;,&quot;mobile application&quot;,&quot;dreams&quot;]"></div>
                  </strong>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Test portfolio -->
      <div class="row wpb_row row-fluid no-row-padding full-width-row no-column-padding">
        <div class="wpb_column columns small-12 medium-12 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <nav class="thb-portfolio-filter style1" id="thb-filter-396">
                <strong>
                  Filters
                  <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="menu_arrow" version="1.1" x="0" y="0" width="20" height="16" viewBox="151.5 346.3 309.1 162.4" enable-background="new 151.47 346.319 309.06 162.356" xml:space="preserve">
                      <path d="M455.1 415.8l-78.5-65.9c-6.5-5.4-16.1-4.6-21.5 1.9 -5.4 6.5-4.6 16.1 1.9 21.5l46.8 39.2H166.8c-8.5 0-15.3 6.8-15.3 15.3 0 8.5 6.8 15.3 15.3 15.3h236l-45.9 38.5c-6.5 5.4-7.3 15.1-1.9 21.5 3 3.6 7.4 5.5 11.7 5.5 3.5 0 7-1.2 9.8-3.6l78.5-65.9c3.5-2.9 5.5-7.2 5.5-11.7S458.5 418.7 455.1 415.8z"/>
                    </svg>
                  </span>
                  <ul>
                    <li><a href="#" data-filter="*" class="active">All</a></li>
                    <li><a href="#" data-filter=".thb-cat-animation">Animation</a></li>
                    <li><a href="#" data-filter=".thb-cat-inspiration">Inspiration</a></li>
                    <li><a href="#" data-filter=".thb-cat-mobile-app">Mobile App</a></li>
                    <li><a href="#" data-filter=".thb-cat-motion">Motion</a></li>
                  </ul>
                </strong>
              </nav>
              <div class="row expanded thb-portfolio masonry masonry-style4 style1 " id="portfolio-section-396" data-thb-animation="thb-animate-from-bottom" data-filter="thb-filter-396">
                <div class="columns small-12 medium-6 large-3 padding-2 title-center thb-animate-from-bottom light-title  thb-cat-website  style1 post-39 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-website" id="portfolio-39">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-1-1.jpg);"></div>
                    <a href="portfolio/mindsparkle-shop/index.html" title="TwentyTwo" class="portfolio-link" data-size="570x902">
                      <h2><span>TwentyTwo</span></h2>
                      <aside class="thb-categories"><span>Website</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-2.jpg);"></div>
                    <a href="portfolio/nyt-well/index.html" title="Heart Mirror" class="portfolio-link" data-size="961x760">
                      <h2><span>Heart Mirror</span></h2>
                      <aside class="thb-categories"><span>Illustration</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-mobile-app  style1 post-43 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" id="portfolio-43">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-3.jpg);"></div>
                    <a href="portfolio/authentic-weather/index.html" title="The Catlady" class="portfolio-link" data-size="961x760">
                      <h2><span>The Catlady</span></h2>
                      <aside class="thb-categories"><span>Mobile App</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-illustration  style1 post-45 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-45">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-4.jpg);"></div>
                    <a href="portfolio/the-deer-hunter/index.html" title="Zugasti Records" class="portfolio-link" data-size="961x760">
                      <h2><span>Zugasti Records</span></h2>
                      <aside class="thb-categories"><span>Illustration</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-6 padding-half title-center thb-animate-from-bottom light-title  thb-cat-inspiration  style1 post-47 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-47">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-51.jpg);"></div>
                    <a href="portfolio/forpackad/index.html" title="Mackelli" class="portfolio-link" data-size="1191x760">
                      <h2><span>Mackelli</span></h2>
                      <aside class="thb-categories"><span>Inspiration</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-2 title-center thb-animate-from-bottom light-title  thb-cat-inspiration  style1 post-49 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-49">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-6.jpg);"></div>
                    <a href="portfolio/coffeehood/index.html" title="Chinatown" class="portfolio-link" data-size="759x1200">
                      <h2><span>Chinatown</span></h2>
                      <aside class="thb-categories"><span>Inspiration</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-animation  style1 post-52 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-animation" id="portfolio-52">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-8.jpg);"></div>
                    <a href="portfolio/wrist-watch/index.html" title="Signage System" class="portfolio-link" data-size="961x760">
                      <h2><span>Signage System</span></h2>
                      <aside class="thb-categories"><span>Animation</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-mobile-app  style1 post-55 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" id="portfolio-55">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-9.jpg);"></div>
                    <a href="portfolio/recipes/index.html" title="National University" class="portfolio-link" data-size="961x760">
                      <h2><span>National University</span></h2>
                      <aside class="thb-categories"><span>Mobile App</span></aside>
                    </a>
                  </div>
                </div>
                <div class="columns small-12 medium-6 large-3 padding-1 title-center thb-animate-from-bottom light-title  thb-cat-motion  style1 post-57 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-motion" id="portfolio-57">
                  <div class="portfolio-holder">
                    <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency/wp-content/uploads/sites/2/2016/09/m-05-7.jpg);"></div>
                    <a href="portfolio/soul-plasticity/index.html" title="Focus Magazine" class="portfolio-link" data-size="961x760">
                      <h2><span>Focus Magazine</span></h2>
                      <aside class="thb-categories"><span>Motion</span></aside>
                    </a>
                  </div>
                </div>
                <div class="thb-preloader">
                  <svg class="thb-preloader-icon-hexagon" width="51" height="55" viewBox="0 0 34 38">
                    <path class="preloader-path" stroke="#ef173b" stroke-dasharray="70 32" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z">
                    </path>
                  </svg>
                </div>
              </div>
              <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
            </div>
          </div>
        </div>
      </div>
      <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
      <!-- End test portfolio-->
      <!-- What we do -->
      <div class="row wpb_row row-fluid align-center vc_custom_1474963183909">
        <div class="wpb_column columns small-12 medium-12 large-8 medium-9 thb-dark-column">
          <div class="vc_column-inner ">
            <div class="wpb_wrapper">
              <div class="wpb_text_column wpb_content_element animation bottom-to-top  vc_custom_1474994532323">
                <div class="wpb_wrapper">
                  <h6 style="text-align: center;">What we do</h6>
                </div>
              </div>
              <div class="wpb_text_column wpb_content_element animation bottom-to-top  vc_custom_1474994545372">
                <div class="wpb_wrapper">
                  <h3 style="text-align: center;">
                    <strong>Typography is the origin of language and of</strong>
                    human
                    <strong>communication. Moreover typography is the</strong>
                    fundament
                    <strong>of our culture, of ourselves. Only through language, we as the human race could evolve.</strong>
                  </h3>
                </div>
              </div>
              <div class="vc_empty_space"  style="height: 30px" ><span class="vc_empty_space_inner"></span></div>
              <div class="row wpb_row vc_inner row-fluid">
                <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div id="thb-iconbox-63" class="thb-iconbox top type1" href="#" target="">
                        <div class="iconbox-content">
                          <h5>Brand Strategy</h5>
                          <p style="font-size: 16px;">
                            Brand Analysis<br/>
                            Brand Platform<br/>
                            Brand Communication Idea<br/>
                            Brand Digital Strategy
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div id="thb-iconbox-46" class="thb-iconbox top type1" href="#" target="">
                        <div class="iconbox-content">
                          <h5>Brand Identity & Image</h5>
                          <p style="font-size: 16px;">
                            Naming<br/>
                            Logo<br/>
                            Brandbook<br/>
                            Key visuals
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div id="thb-iconbox-20" class="thb-iconbox top type1" href="#" target="">
                        <div class="iconbox-content">
                          <h5>Brand Digital Expression</h5>
                          <p style="font-size: 16px;">
                            Websites<br/>
                            Mobile Apps<br/>
                            Social Media<br/>
                            Content
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="wpb_column columns small-12 medium-6 thb-dark-column">
                  <div class="vc_column-inner ">
                    <div class="wpb_wrapper">
                      <div id="thb-iconbox-20" class="thb-iconbox top type1" href="#" target="">
                        <div class="iconbox-content">
                          <h5>Brand Physical Expression</h5>
                          <p style="font-size: 16px;">
                            Packaging<br/>
                            Retail<br/>
                            Publishing<br/>
                            Promotion
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="vc_empty_space"  style="height: 20px" ><span class="vc_empty_space_inner"></span></div>
              <div class="wpb_text_column wpb_content_element animation fade-in ">
                <div class="wpb_wrapper">
                  <h6 style="text-align: center;">
                    <%= link_to 'Learn More →', about_us_agency_path %>
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End what we do -->
    </div>
 </div>
 <!-- End role["main"] -->
