<style type="text/css" data-type="vc_shortcodes-custom-css">.vc_custom_1476206634568{padding-top: 7vh !important;padding-bottom: 5vh !important;}.vc_custom_1476275450125{padding-top: 2vh !important;padding-bottom: 5vh !important;}</style><noscript><style type="text/css"> .wpb_animate_when_almost_visible { opacity: 1; }</style></noscript>

<div class="page page-id-296 page-template-default snap_rows_ thb_row_pagination_off dark-title disable_header_fill-off mm-link-animation-bg-fill color-changing-header-off footer-shadow-light thb-borders-off overflow-off wpb-js-composer js-comp-ver-4.12 vc_responsive">

  <%= render "layouts/shared/logo_header_menu" %>

  <div role="main" class="cf">
    <div class=" post-296 page type-page status-publish hentry">
      <div class="row wpb_row row-fluid vc_custom_1476206634568">
        <div class="wpb_column columns small-12 medium-12 thb-dark-column">
          <div class="vc_column-inner vc_custom_1476275450125">
            <div class="wpb_wrapper">
              <div class="row expanded thb-portfolio masonry masonry-style1 style2 " id="portfolio-section-314" data-thb-animation="thb-animate-from-bottom" data-filter="thb-filter-314">
                <a href="../portfolio/nyt-well" title="NYT Wellness" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-illustration style2 post-41 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-41">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.107505071%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-02.jpg);"></div>
                    </div>
                    <h2>NYT Wellness</h2>
                    <aside class="thb-categories">Illustration</aside>
                  </div>
                </a>
                <a href="../portfolio/authentic-weather" title="Authentic Weather" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-mobile-app style2 post-43 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" id="portfolio-43">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.125%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-03.jpg);"></div>
                    </div>
                    <h2>Authentic Weather</h2>
                    <aside class="thb-categories">Mobile App</aside>
                  </div>
                </a>
                <a href="../portfolio/the-deer-hunter" title="The Deer Hunter" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-illustration style2 post-45 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-45">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-04.jpg);"></div>
                    </div>
                    <h2>The Deer Hunter</h2>
                    <aside class="thb-categories">Illustration</aside>
                  </div>
                </a>
                <a href="../portfolio/forpackad" title="Förpackad" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-inspiration style2 post-47 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-47">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.333333333%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-05.jpg);"></div>
                    </div>
                    <h2>Förpackad</h2>
                    <aside class="thb-categories">Inspiration</aside>
                  </div>
                </a>
                <a href="../portfolio/soul-plasticity" title="Soul Plasticity" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-motion style2 post-57 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-motion" id="portfolio-57">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.333333333%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-09.jpg);"></div>
                    </div>
                    <h2>Soul Plasticity</h2>
                    <aside class="thb-categories">Motion</aside>
                  </div>
                </a>
                <a href="../portfolio/wrist-watch" title="Wrist Watch" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-animation style2 post-52 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-animation" id="portfolio-52">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 158.333333333%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-07.jpg);"></div>
                    </div>
                    <h2>Wrist Watch</h2>
                    <aside class="thb-categories">Animation</aside>
                  </div>
                </a>
                <a href="../portfolio/recipes" title="Recipes" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-mobile-app style2 post-55 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-mobile-app" id="portfolio-55">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-08.jpg);"></div>
                    </div>
                    <h2>Recipes</h2>
                    <aside class="thb-categories">Mobile App</aside>
                  </div>
                </a>
                <a href="../portfolio/five-dime" title="Five &#038; Dime" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-print style2 post-62 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-print" id="portfolio-62">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-11.jpg);"></div>
                    </div>
                    <h2>Five &#038; Dime</h2>
                    <aside class="thb-categories">Print</aside>
                  </div>
                </a>
                <a href="../portfolio/paloma-rincon" title="Paloma Rincón" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-illustration style2 post-60 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-illustration" id="portfolio-60">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-10.jpg);"></div>
                    </div>
                    <h2>Paloma Rincón</h2>
                    <aside class="thb-categories">Illustration</aside>
                  </div>
                </a>
                <a href="../portfolio/broacay-planet" title="Broacay Planet" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-print style2 post-64 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-print" id="portfolio-64">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 79.0842872008%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m-12.jpg);"></div>
                    </div>
                    <h2>Broacay Planet</h2>
                    <aside class="thb-categories">Print</aside>
                  </div>
                </a>
                <a href="../portfolio/duerme-pueblo" title="Duerme Pueblo" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-inspiration style2 post-228 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-inspiration" id="portfolio-228">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 78.125%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m6-03.jpg);"></div>
                    </div>
                    <h2>Duerme Pueblo</h2>
                    <aside class="thb-categories">Inspiration</aside>
                  </div>
                </a>
                <a href="../portfolio/the-little-fox" title="The Little Fox" class="medium-6 columns large-3 thb-animate-from-bottom   thb-cat-animation style2 post-226 portfolio type-portfolio status-publish has-post-thumbnail hentry portfolio-category-animation" id="portfolio-226">
                  <div class="portfolio-holder">
                    <div class="portfolio-inner " style="padding-bottom: 78.125%;">
                      <div class="thb-placeholder" style="background-image: url(http://mrf0q11hs9f5smjcwivxd3qm.wpengine.netdna-cdn.com/werkstatt-agency-simple/wp-content/uploads/sites/3/2016/09/m6-02.jpg);"></div>
                    </div>
                    <h2>The Little Fox</h2>
                    <aside class="thb-categories">Animation</aside>
                  </div>
                </a>
                <div class="thb-preloader">
                  <svg class="thb-preloader-icon-hexagon" width="51" height="55" viewBox="0 0 34 38">
                    <path class="preloader-path" stroke="#ea5b11" stroke-dasharray="70 32" stroke-width="2" stroke-linejoin="round" stroke-dashoffset="0" d="M29.437 8.114L19.35 2.132c-1.473-.86-3.207-.86-4.68 0L4.153 8.114C2.68 8.974 1.5 10.56 1.5 12.28v11.964c0 1.718 1.22 3.306 2.69 4.165l10.404 5.98c1.47.86 3.362.86 4.834 0l9.97-5.98c1.472-.86 2.102-2.45 2.102-4.168V12.28c0-1.72-.59-3.306-2.063-4.166z"></path>
                  </svg>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- End role["main"] -->
</div>